.experiencia {
  display: grid;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100%;
  padding: 40px;
  position: relative;
}

.experiencia::before {
  content: "";
  max-width: 100%;
  width: 500px;
  height: 2px;
  background: #0059c1;
  top: 110px;
  left: 685px;
  position: absolute;
}

section h1 {
  font-size: 3rem;
  margin: 0px;
}

.meus-cargos1 {
  display: grid;
  margin-top: 30px;
}

.meus-cargos1 p {
  color: #000;
  font-size: 1rem;
  max-width: 48ch;
}

@media(max-width:1000px){
  .experiencia::before {
    content: "";
    max-width: 100%;
    width: 750px;
    height: 2px;
    background: #0059c1;
    top: 150px;
    left: 40px;
    position: absolute;
  }
}