.footer {
  display: grid;
  justify-content: center;
  max-width: 100%;
  margin-top: 120px;
  text-align: center;
  color: #fff;
  background: #0059c1;
}

.contato{
  display: flex;
  gap: 100px;
  height: 15vh;
  align-items: center;
}

.contato li{
  display: flex;
  height: 50px;
  width: 50px;
  font-size: 1rem;
  padding: 10px;
  gap: 10px;
  align-items: center;
  white-space: nowrap;
}

.contato a {
  color: #000;
  background: #fff;
  padding: 10px;
  border-radius: 10px;
}

.contato a:hover {
  color: #fff;
  background: #000;
  padding: 10px;
}

@media(max-width:1100px){
  .contato{
    flex-direction: column;
    gap: 10px;
    height: 50vh; 
    justify-content: center;
  }
}