.footer-contanier{
  font-size: 2rem;
  color: white;
  margin: 200px 60px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1900px;
  gap: 100px;
}

.footer-texto{
  font-size: 3rem;
  line-height: 3rem;
}

.footer-contato li{
 padding: 20px;
 line-height: 1.1;
 margin-bottom: 30px;
}

.footer-copy{
  font-size: 1rem;
  color: aliceblue;
}

.footer a{
  color: white;
}

.footer a:hover{
  color: #e21;
}

@media(max-width:1000px){
  .footer-contanier{
    grid-template-rows: 1fr;
    gap: 40px;
  }
  .footer-contato li{
    font-size: 1.5rem;
  }
}