.formacao {
  display: grid;
  grid-template-columns: 1fr, 1fr;
  margin-top: 120px;
  max-width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}

.formacao img {
  width: 80px;
  height: 80px;
}

.formacao h1 {
  font-size: 3rem;
  color: #000;
  margin-bottom: 20px;
}

.faculdade {
  display:flex;  
  grid-column: 1;
  gap: 10px;
}

.faculdade h2 {
  font-size: 1rem;
  display: grid;
}

.faculdade-tipo,
.faculdade-tempo {
  font-size: 1rem;
  color: #000;
}

.cursos {
  display: grid;
  margin: 120px;
  grid-template-columns: 1fr;
  max-width: 100%;
  flex-wrap: wrap;
  text-align: center;
}

.cursos h1 {
  font-size: 3rem;
  color: #000;
}

.lista-cursos {
  font-size: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.lista-cursos li {
  background: #0059c1;
  border-radius: 10px;
  color: #fff;
  padding: 10px;
}

.lista-cursos li:hover {
  background: #fff;
  color: #0059c1;
}

@media (max-width: 500px) {
  .formacao {
    margin: 80px 0px;
    padding: 30px;
  }
  .formacao h1 {
    font-size: 3rem;
  }
  .faculdade{
    display: flex;
    gap: 10px;
    font-size: 1rem;
  }
  .cursos h1{
    font-size: 3rem;
  }

  .cursos li{
    font-size: 1.5rem;
  }
}
