.formacao-conteudo {
  display: grid;
  grid-template-columns: 1fr, 1fr;
  margin: 120px;
  max-width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}

.formacao img {
  width: 80px;
  height: 80px;
}

.formacao h1 {
  font-size: 3rem;
  color: #000;
}

.faculdade{
  display: grid;
  grid-column: 1;
}

.faculdade h2 {
  font-size: 1rem;
  display: grid;
}

.faculdade-tipo,
.faculdade-tempo {
  font-size: 1rem;
  color: #000;
}

.cursos {
  display: grid;
  grid-column: 2;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 50px;
}

.cursos h1 {
  font-size: 3rem;
  color: #000;
}

.lista-cursos {
  font-size: 2rem;
  color: white;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.lista-cursos li {
  background: #0059c1;
  border-radius: 5px;
  color: #fff;
  padding: 10px;
}

.lista-cursos li:hover {
  background: #fff;
  color: #0059c1;
}
