body {
  font-family: poppins, Roboto, sans-serif;
  background: #fff;
  margin: 0px;
}

img{
  max-width: 100%;
  display: block;
}

ul{
  margin: 0px;
  padding: 0px;
  list-style: none;
}

a{
  text-decoration: none;
}

section span{
  color: #0059c1;
  font-size: 3rem;
}

@media(max-width: 500px){
  body{
   flex-direction: column;
  }
}