body {
  font-family: Arial, Helvetica, sans-serif;
  background: black;
  margin: 0px;
}

img{
  max-width: 100%;
  display: block;
}

ul{
  margin: 0px;
  padding: 0px;
  list-style: none;
}

a{
  text-decoration: none;
}