* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  font-family: poppins, sans-serif;
  background: #051932;
}

img {
  max-width: 100%;
  display: block;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

a {
  text-decoration: none;
}

section span {
  color: #ffba05;
  font-size: 3rem;
}
