.habilidades {
  display: grid;
  justify-content: center;
  background: #fff;
  text-align: center;
}

.habilidades h1 {
  font-size: 44px;
}

.icones {
  display: grid;
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
}

.icones1 {
  display: flex;
  gap: 20px;
}

.icones2 {
  display: flex;
  gap: 20px;
}

.icones li {
  display: grid;
  justify-content: center;
  width: 100px;
  padding: 20px;
  background: #051932;
  border: 2px solid #ffba05;
  border-radius: 10px;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
}

li img {
  width: 64px;
  height: 64px;
}

@media (max-width: 1100px) {
  .habilidades {
    display: grid;
    justify-content: center;
    padding: 20px;
  }
  .icones {
    gap: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
  }
  .icones li {
    font-size: 1rem;
    font-weight: 600;
    display: grid;
    justify-content: center;
    width: 100px;
    padding: 10px;
  }
  .icones1 {
    display: grid;
    gap: 15px;
    justify-content: center;
  }
  .icones2 {
    display: grid;
    gap: 15px;
    justify-content: center;
  }
}

@media (max-width: 600px) {
  .habilidades h1 {
    font-size: 1.5rem;
  }
  .icones {
    gap: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
  }
  .icones li {
    font-size: 0.8rem;
    font-weight: 600;
    display: grid;
    justify-content: center;
    width: 70px;
    height: 80px;
    padding: 10px;
  }
  li img {
    width: 50px;
    height: 50px;
  }
}