.sobre-mim {
  font-family: poppins, sans-serif;
  font-weight: 100;
}

.sobre-mim h3 {
  font-size: 44px;
  color: #fff;
  margin-top: 40px;
  text-align: center;
}

.sobre-mim p {
  color: #fff;
  font-size: 22px;
  max-width: 80ch;
  font-weight: 600;
  margin-bottom: 100px;
}

.habilidades {
  display: grid;
  justify-content: center;
  text-align: center;
}

.habilidades h1 {
  font-size: 3rem;
  text-align: center;
  color: #fff;
}

.icones {
  display: grid;
  gap: 20px;
  align-items: center;
  margin-bottom: 4rem;
  justify-items: center;
}

.icones1 {
  display: flex;
  gap: 20px;
}

.icones2 {
  display: flex;
  gap: 20px;
}

.icones li {
  display: grid;
  justify-content: center;
  padding: 20px;
  border-radius: 10px;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
}

li img {
  width: 64px;
  height: 64px;
}

@media (max-width: 1150px) {
  .sobre-mim{
    padding: 20px;
  }
  .sobre-mim h3 {
    font-size: 2rem;
  }
  .sobre-mim p {
    font-size: 1.5rem;
    font-weight: 100;
  }
}

@media (max-width: 600px) {
  .habilidades {
    display: grid;
    justify-content: center;
    padding: 1.5rem;
  }
  .habilidades h1 {
    font-size: 30px;
  }
  .icones {
    gap: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
  }
  .icones li {
    font-size: 0.8rem;
    font-weight: 600;
    display: grid;
    justify-content: center;
    justify-items: center;
    width: 100px;
    padding: 1rem;
  }
  .icones1 {
    display: grid;
    gap: 1rem;
    justify-content: center;
  }
  .icones2 {
    display: grid;
    gap: 1rem;
    justify-content: center;
  }
  li img {
    width: 50px;
    height: 50px;
  }
  .sobre-mim h3 {
    font-size: 1.5rem;
  }
  .sobre-mim p {
    font-size: 1rem;
    font-weight: 100;
  }
}
