.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 2rem;
  max-width: 100%;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.menu a {
  color: #000;
  font-size: 1rem;
  line-height: auto;
  justify-content: center;
  display: inline-flex;
  padding: 15px;
  align-items: center;
  border: solid 1px #0059c1;
  border-radius: 50px;
  cursor: pointer;
}

.menu a.curriculo{
  color: #fff;
  background: #0059c1;
}

.menu a.curriculo:hover{
  color: #0059c1;
  background: #fff;;
}

.menu a:hover {
  color: #fff;
  background: #0059c1;
  transition: 0.3s;
}

@media (max-width: 800px) {
  .header {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    padding: 10px;
  }
  .header a {
    background: #0059c1;
    border-radius: 5px;
    color: #fff;
    padding: 10px;
  }
  .projetos::before {
    display: none;
  }
  .experiencia::before {
    display: none;
  }
  .formacao::before {
    display: none;
  }
  .menu a:hover {
    color: #0059c1;
    background: #fff;
  }
}
