.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  margin: 60px 120px;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.menu a {
  color: #fff;
  font-size: 1rem;
  line-height: auto;
  justify-content: center;
  display: inline-flex;
  padding: 10px;
  align-items: center;
  cursor: pointer;
}

.menu a.curriculo {
  color: #051932;
  background: #FFBA05;
  border-radius: 10px;
  font-weight: 600;
}

.menu a.curriculo:hover {
  color: #FFBA05;
  background: #051932;
}

.menu a:hover {
  color: #FFBA05;
  transition: 0.3s;
}

@media (max-width: 800px) {
  .header {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    padding: 10px;
  }
  .menu {
    justify-content: center;
  }
}