.introducao {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 2fr 1fr;
  margin: 140px;
  max-width: 100%;
  gap: 50px;
}

.introducao h1,
h2,
h3,
p {
  margin: 0px;
}

.contanier-introducao {
  position: relative;
}

.contanier-introducao h1 {
  font-size: 44px;
  color: #fff;
  text-align: start;
}

.introducao h1 span {
  font-size: 56px;
  color: #ffba05;
  font-weight: 600;
  white-space: nowrap;
  margin: 8px;
}

.introducao h2 {
  color: #fff;
  font-size: 48px;
  font-weight: 600;
  margin-top: 48px;
}

.contanier-introducao::before {
  content: "";
  max-width: 100%;
  width: 550px;
  height: 5px;
  background: #ffba05;
  position: absolute;
  top: 275px;
  left: -20px;
}

.introducao img {
  max-width: 100%;
  display: block;
  border-radius: 200px;
}

.ul-icons {
  display: flex;
  gap: 5px;
  margin-top: 20px;
  margin-left: 100px;
}

@media (max-width: 1150px) {
  .introducao {
    grid-template-columns: 1fr;
  }
  .contanier-introducao {
    padding: 30px;
    margin: 0;
    justify-content: center;
    display: grid;
  }
  .introducao img {
    max-width: 100%;
    display: grid;
    border-radius: 200px;
    justify-content: center;
  }
  .contanier-introducao::before {
    content: "";
    max-width: 100%;
    width: 550px;
    height: 5px;
    background: #ffba05;
    position: absolute;
    top: 270px;
  }
  .contanier-introducao h1 {
    font-size: 2rem;
    text-align: center;
  }
  .contanier-introducao h1 span {
    font-size: 3rem;
    white-space: nowrap;
  }
  .contanier-introducao h2 {
    font-size: 3rem;
    white-space: nowrap;
  }
}
@media (max-width: 600px) {
  .introducao {
    padding: 30px;
    margin: 0;
    justify-content: center;
    display: grid;
  }
  .ul-icons {
    margin-left: 30px;
  }
  .contanier-introducao h2 {
    font-size: 2rem;
  }
  .contanier-introducao h1 {
    font-size: 1.5rem;
    text-align: center;
  }
  .contanier-introducao h1 span {
    font-size: 2rem;
  }
  .contanier-introducao::before {
    content: "";
    max-width: 100%;
    width: 400px;
    height: 5px;
    background: #ffba05;
    position: absolute;
    top: 215px;
    left: 10px;
  }
}
