.introducao {
  display: grid;
  justify-content: center;
  margin: 140px;
  max-width: 100%;
  flex-wrap: wrap;
  line-height: 1.5;
  align-items: center;
  position: relative;
}

.introducao::before {
  content: "";
  max-width: 100%;
  width: 80px;
  height: 10px;
  background: #0059c1;
  position: absolute;
  top: 20px;
  left: 480px;
}

.introducao::after {
  content: "";
  max-width: 100%;
  width: 80px;
  height: 10px;
  background: #0059c1;
  position: absolute;
  top: 150px;;
  right: 500px;
}

.introducao h1,
h2,
h3,
p {
  margin: 0px;
  grid-column: 1;
}

.introducao h1 {
  font-size: 1.5rem;
  color: #000;
}

.introducao h1 span {
  font-size: 3.5rem;
  color: #0059c1;
}

.introducao h2 {
  color: #000;
  font-size: 2.5rem;
  display: grid;
  justify-content: center;
}

.introducao h3 {
  margin-top: 40px;
  font-size: 1.5rem;
  color: #000;
}

.introducao p {
  color: #000;
  font-size: 1rem;
  max-width: 40ch;
  font-family: roboto, sans serif;;
}

@media (max-width: 1000px) {
  .introducao::before {
    content: "";
    max-width: 100%;
    width: 80px;
    height: 10px;
    background: #0059c1;
    position: absolute;
    top: 20px;
    left: 40px;
  }
  .introducao::after {
    content: "";
    max-width: 100%;
    width: 80px;
    height: 10px;
    background: #0059c1;
    position: absolute;
    bottom: 0px;
    right: 40px;
  }
}
@media (max-width: 800px) {
  .introducao h1 {
    font-size: 1rem;
  }
  .introducao h1 span {
    font-size: 2rem;
  }
  .introducao h2 {
    font-size: 1.5rem;
  }
  .introducao h3 {
    font-size: 1rem;
  }
  .introducao p {
    font-size: 1rem;
  }
}
