.projetos {
  display: grid;
  justify-content: center;
  text-align: center;
  margin-top: 120px;
  font-size: 2rem;
}

.contanier {
  display: flex;
  align-items: center;
  gap: 100px;
}

.imagem {
  max-width: 600px;
}

.imagem2 {
  max-width: 700px;
}

.projetos a {
  color: #fff;
  background: #0059c1;
  padding: 15px;
  border-radius: 20px;
  font-size: 1rem;
}

.projetos a:hover {
  color: #000;
  background: #fff;
}

@media (max-width: 1100px) {
  .contanier {
    display: grid;
    grid-template-columns: 1fr;
  }
  .imagem2 {
    max-width: 600px;
  }
}

@media (max-width: 600px) {
  .contanier {
    padding: 20px;
  }
}