.projetos{
  text-align: center;
  font-size: 2rem;
  margin-top: 120px;
}

.imagem{
  display: grid;
  justify-content: center;
}

.projetos a{
  color: #fff;
  background: #0059c1;
  padding: 20px;
  border-radius: 20px;
}

.projetos a:hover{
  color: #000;;
  background: #fff;
}