.introducao {
  max-width: 100%;
  background: #167bf7;
  padding: 40px;
  display: grid;
  text-align: center;
  justify-items: center;
  color: #fff;
  font-size: 1rem;
}

.boas-vindas {
  max-width: 80ch;
}

.contanier-blocos {
  display: grid;
  justify-content: center;
  grid-template-columns: 33% 33% 33%;
  margin-top: 40px;
  gap: 40px;
  font-size: 1rem;
  margin-bottom: 40px;
}

.bloco {
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 200px;
  height: 180px;
  padding: 40px;
  background: #fff;
  color: black;
  border-radius: 10px;
}

@media (max-width: 900px) {
  .introducao {
    display: flex;
    flex-direction: column;
    padding: 20px 40px;
  }
  .contanier-blocos {
    justify-items: center;
    gap: 10px;
  }
  .bloco {
    place-content: center;
    width: 130px;
    height: 120px;
    padding: 40px;
    font-size: 0.7rem;
  }
}
